*.iml
.gradle/
/local.properties
local.properties
.kotlin/

# IDE
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
*.iws
*.ipr

# OS generated
.DS_Store
*.DS_Store
**/.DS_Store
._*
Thumbs.db

# Build artifacts
build/
/build
app/build/
release/
app/release/
/captures
.externalNativeBuild
.cxx
